.alert {
    &-primary, &-danger {
        width: calc(100% - 1rem - 30px);
        padding: 1.5rem;
        margin: 0.5rem;
        border-radius: 10px;
        font-size: 1.15rem;
        letter-spacing: 5px;
        color: $light;
    }
    &-primary {
        background: color('success');
    }
    &-danger {
        background: color('danger');
    }
}